[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bayesnec"]
	path = bayesnec
	url = https://github.com/open-aims/bayesnec
[submodule "ssddata"]
	path = ssddata
	url = https://github.com/open-aims/ssddata
